<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Add the logo here -->
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="position: absolute; top: 15px; right: 20px; width: 200px; height: auto;">
    
    <div class="login-container">
        <h1>Welcome to IIIT Kota Centre Reservation</h1>
        <div class="login-box">
            <h2>Student Login</h2>
            <form action="/login" method="POST">
                <label for="student_id">Student ID:</label>
                <input type="text" id="student_id" name="student_id" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <!-- Include the JavaScript file -->
    <script src="{{ url_for('static', filename='JSS.js') }}"></script>
</body>
</html>