<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FWB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
    <div class="container">
        <h2>Reserve a Seat</h2>
        <form id="reservation-form">
            <label for="student_id">Student ID:</label>
            <input type="text" id="student_id" required>
            
            <label for="seat_number">Seat Number:</label>
            <input type="number" id="seat_number" required>
            
            <button type="submit">Reserve</button>
        </form>
        <p id="message"></p>
    </div>
    <script src="{{ url_for('static', filename='JSS.js') }}"></script>
</body>
</html>